.button{
    height: 40px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    &--black{
        background-color: var(--black);
        color: var(--white);
    }

    &--link{
        display: flex;
        gap: 1rem;
    }
}